

body {
    background: white url("images/background.png") no-repeat;
    font-family: sans-serif;

}

h2 {
    font-weight: 400;
    color: #333;
    text-align: center;
    padding-top: 5px;
}
h3 {
    padding: 5px;
    font-weight: 600;

}

h3 a{
    color: #666;
}

div {
    margin: 40px;
    padding: 10px;
    background: rgba(234, 237, 242, .7);
    width: 25%;
    border: 2px solid #ededed;
    border-radius: 20px;
}
